* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;
}

li:hover,
.url-active {
  background-color: #e3f3ff;
  border: 1px solid #96e0ff;
}

li {
  position: relative;
  height: 80px;
  cursor: pointer;
  border: 1px solid transparent;

  .icon {
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 32%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .info-window {
    position: absolute;
    display: inline-block;
    margin-left: 40%;
    margin-top: 6px;
    height: 100%;

    .heading {
      font-size: 20px;
      font-weight: bold;
    }

    .data {
      display: inline-block;
      font-size: 14px;

      .less-emphasis {
        color: #757575;
      }
    }
  }
}
