<div class="body">

  <div class="container">

    <div class="heading">
      <h2>Wi-Fi</h2>
      <p>{{ wifi.Name }}</p>
    </div>

    <div class="graph">
      <app-graph
        [graphTheme]="graphTheme"
        [values]="receiveSpeedValues"
      ></app-graph>
    </div>

    <div class="info">

      <div class="major-info">

        <div class="info-key-value">
          <div class="less-emphasis">
            Send
          </div>
          <div class="data-value">
            {{ wifi.SendSpeedInKBPS }} KBps
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Receive
          </div>
          <div class="data-value">
            {{ wifi.ReceiveSpeedInKBPS }} KBps
          </div>
        </div>

      </div>

      <div class="minor-info">

        <table>
          <tbody>
          <tr>
            <td class="less-emphasis info-table-key">SSID:</td>
            <td class="info-value">{{ wifi.NetworkName }}</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">Connection type:</td>
            <td class="info-value">{{ wifi.ConnectionType }}</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">IPv4 address:</td>
            <td class="info-value">{{ wifi.IPv4_Address }}</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">IPv6 address:</td>
            <td class="info-value">{{ wifi.IPv6_Address }}</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">Signal strength:</td>
            <td class="info-value">{{ wifi.SignalStrength }}%</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
