<div class="body">

  <div class="container">

    <div class="heading">
      <h2>Wi-Fi</h2>
      <p>Intel(R) Dual Band Wireless-AC 8260</p>
    </div>

    <div class="graph">
      <app-graph [graphTheme]="graphTheme"></app-graph>
    </div>

    <div class="info">

      <div class="major-info">

        <div class="info-key-value">
          <div class="less-emphasis">
            Send
          </div>
          <div class="data-value">
            67 KBps
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Receive
          </div>
          <div class="data-value">
            1077 KBps
          </div>
        </div>

      </div>

      <div class="minor-info">

        <table>
          <tbody>
          <tr>
            <td class="less-emphasis info-table-key">SSID:</td>
            <td class="info-value">Corporate_Network</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">Connection type:</td>
            <td class="info-value">802.11ac</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">IPv4 address:</td>
            <td class="info-value">172.16.5.139</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">IPv6 address:</td>
            <td class="info-value">fe80::55ba7c1a:5837:ad52%7</td>
          </tr>
          <tr>
            <td class="less-emphasis info-table-key">Signal strength:</td>
            <td class="info-value">84%</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
