<div class="body">

  <div class="container">

    <div class="heading">
      <h2>Memory</h2>
      <p>
        {{ (memory.TotalInBytes / (1024 * 1024 * 1024)).toString().substr(0, 4) }}
        GB</p>
    </div>

    <div class="graph">
      <app-graph [graphTheme]="graphTheme"></app-graph>
    </div>

    <div class="info">

      <div class="major-info">

        <div class="info-key-value">
          <div class="less-emphasis">
            In use
          </div>
          <div class="data-value">
            {{ (memory.InUseInBytes / (1024 * 1024 * 1024)).toString().substr(0, 3) }}
            GB
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Available
          </div>
          <div class="data-value">
            {{ (memory.AvailableInBytes / (1024 * 1024 * 1024)).toString().substr(0, 3) }}
            GB
          </div>
        </div>

      </div>

      <div class="minor-info">

        <table>
          <tbody>
          <tr>
            <td class="less-emphasis info-table-key">Speed:</td>
            <td class="info-value">2133 MHz</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
