<div class="body">

  <div class="container">

    <div class="heading">
      <h2>CPU</h2>
      <p>{{ cpu.Name }}</p>
    </div>

    <div class="graph">
      <app-graph
        [graphTheme]="graphTheme"
        [values]="utilizationValues"
      ></app-graph>
    </div>

    <div class="info">

      <div class="major-info">

        <div class="info-key-value">
          <div class="less-emphasis">
            Utilization
          </div>
          <div class="data-value">
            {{ cpu.Utilization }}%
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Speed
          </div>
          <div class="data-value">
            {{ cpu.SpeedInGHz.toString().substr(0, 3) }} GHz
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Processes
          </div>
          <div class="data-value">
            {{ cpu.NumberOfProcesses }}
          </div>
        </div>

      </div>

      <div class="minor-info">

        <table>
          <tbody>
            <tr>
              <td class="less-emphasis info-table-key">Base speed:</td>
              <td class="info-value">{{ cpu.BaseSpeedInGHz.toString().substr(0, 3) }} GHz</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">Cores:</td>
              <td class="info-value">{{ cpu.NumberOfCores }}</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">Logical processors:</td>
              <td class="info-value">{{ cpu.NumberOfLogicalProcessors }}</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L1 cache:</td>
              <td class="info-value">{{ cpu.L1CacheInKB }} KB</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L2 cache:</td>
              <td class="info-value">{{ cpu.L2CacheInKB }} KB</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L3 cache:</td>
              <td class="info-value">{{ cpu.L3CacheInKB }} KB</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
