<div class="body">

  <div class="container">

    <div class="heading">
      <h2>CPU</h2>
      <p>Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz</p>
    </div>

    <div class="graph">
      <app-graph [graphTheme]="graphTheme"></app-graph>
    </div>

    <div class="info">

      <div class="major-info">

        <div class="info-key-value">
          <div class="less-emphasis">
            Utilization
          </div>
          <div class="data-value">
            20%
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Speed
          </div>
          <div class="data-value">
            3.18 GHz
          </div>
        </div>

        <div class="info-key-value">
          <div class="less-emphasis">
            Processes
          </div>
          <div class="data-value">
            324
          </div>
        </div>

      </div>

      <div class="minor-info">

        <table>
          <tbody>
            <tr>
              <td class="less-emphasis info-table-key">Base speed:</td>
              <td class="info-value">2.80 GHz</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">Cores:</td>
              <td class="info-value">2</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">Logical processors:</td>
              <td class="info-value">4</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L1 cache:</td>
              <td class="info-value">128 KB</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L2 cache:</td>
              <td class="info-value">512 KB</td>
            </tr>
            <tr>
              <td class="less-emphasis info-table-key">L3 cache:</td>
              <td class="info-value">4096 KB</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
