<ul>
  <app-performance-nav-bar-item
    heading="CPU"
    [graphTheme]="graphThemes.cpu"
    [graphValues]="cpuUtilizationValues"
    routerLinkUrl="/performance/cpu"
  >
    {{ cpu.Utilization }}%  {{ cpu.SpeedInGHz.toString().substr(0, 4) }} GHz
  </app-performance-nav-bar-item>

  <app-performance-nav-bar-item
    heading="Memory"
    [graphTheme]="graphThemes.memory"
    [graphValues]="memoryUsageValues"
    [maxGraphValue]="memory.TotalInBytes / (1024 * 1024 * 1024)"
    routerLinkUrl="/performance/memory"
  >
    {{ (memory.InUseInBytes / (1024 * 1024 * 1024)).toString().substr(0, 4) }}
    /
    {{ (memory.TotalInBytes / (1024 * 1024 * 1024)).toString().substr(0, 4) }}
    GB (
    {{ (memory.InUseInBytes * 100 / memory.TotalInBytes).toString().split('.')[0] }}
    %)
  </app-performance-nav-bar-item>

  <app-performance-nav-bar-item
    heading="Wi-Fi"
    [graphTheme]="graphThemes.wifi"
    [graphValues]="wifiReceiveSpeedValues"
    routerLinkUrl="/performance/wifi"
  >
    <span class="less-emphasis">S:</span>
    {{ wifi.SendSpeedInKBPS }} &nbsp;
    <span class="less-emphasis">R:</span>
    {{ wifi.ReceiveSpeedInKBPS }} Kbps
  </app-performance-nav-bar-item>

</ul>
